opencv-python
kornia>=0.5.0
tqdm>=4.64.1
tensorboard>=2.0
tensorboardX>=2.6.0
gym>=0.21.0
PyYAML>=5.4.1
easydict>=1.9
matplotlib>=3.4
scikit-learn>=1.1
Transplant==0.8.10
terminaltables==3.1.0
pynvml==8.0.4
prefetch-generator==1.0.1